*
{
    margin: 0;
    padding: 0;
}
.page-block
{
    flex-wrap: wrap;
    margin: auto;  
    max-width: 1340px;
    /*border: 1px solid black;*/
}
/**HEADER**/
/*header
{
    width: 100%;
}*/
/*.header-part1
{
    display: flex;
    background-color: red;
    justify-content: space-between;
}*/

/*****HEADER PART 1*****/
.header-part1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-part1 img
{
    padding-top:20px;
}
.header-part1 div
{
    display: flex;
    flex-wrap: wrap;
}
.header-part1 div nav 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-part1 div nav a
{
    color: black;
    margin-right: 70px;
    padding-top: 20px;
    border-top: 3px solid rgba(0,0,0,0);
}
.header-part1 div nav a:hover
{
    padding-top:20px;
    border-top: 3px solid #0065FC; 
    color: #0065FC; 
}

.header-part1 div a
{
    color: #0065FC;
    text-decoration: none;
    padding-top:20px;
}
/**HEADER PART2**/
.body-title
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}
h1
{
    font-size: 1.3em;
    margin-bottom: 10px;
}
.body-title p
{
  font-size: 0.9em;
  opacity: 0.5;
}
/**SEARCH ZONE**/
.search-zone
{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    position:relative;
}
.position-logo
{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 50px;
    background-color: #f2f2f2;
    width: 55px;
    border-radius: 15px 0px 0px 15px;
}
.search-bar
{
    max-width: 271px;
    height: 50px;
    border:1px solid #f2f2f2;
 
}
.search-button
{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:#0065FC;
    width: 137px;
    height: 50px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    z-index: 1;
}
.fa-search
{
    position: absolute;
        left: 300px;
    z-index: -1; 
}
/*****FILTERS*************************************************/
.filters
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
   
    max-width: 900px;
}
.filters-title
{
    display: flex;;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}
.filters-model
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    height: 45px;
    margin: 0px 10px 30px 0px;
    padding: 0px 10px 0px 0px;
}
/*.filter-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    height: 45px;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 50px;
}*/
/*************ECONOMIC LOGO*************/
.fa-money-bill-wave
{
    height: 33px;
    width: 33px;
    color: #0065fc; 
    background-color: #DEEBFF ;
    border-radius:50px;
    padding: 15px 0px 0px 15px;
    margin-right: 5px;
    /*position: absolute;
    top:1px;
    left: 75px;*/
}
.fa-money-bill-wave:hover
{
    background-color: #f2f2f2 ;
}
/*************FAMILIAL LOGO*************/
.fa-child
{
    height: 33px;
    width: 33px;
    color: #0065fc; 
    background-color: #DEEBFF ;
    border-radius:50px;
    padding: 15px 0px 0px 15px;
    margin-right: 5px;
    /*position: absolute;
    top: 1px;
    left: 250px;*/
}
.fa-child:hover
{
    background-color: #f2f2f2 ;
}
/*************ROMANTIC LOGO*************/
.fa-heart
{
    height: 33px;
    width: 33px;
    color: #0065fc; 
    background-color: #DEEBFF ;
    border-radius:50px;
    padding: 15px 0px 0px 15px;
    margin-right: 5px;
    /*position: absolute;
    top: 1px;
    left: 400px;*/
}
.fa-heart:hover
{
    background-color: #f2f2f2 ;
}
/*************PETS LOGO*************/
.fa-dog
{
    height: 33px;
    width: 33px;
    color: #0065fc; 
    background-color: #DEEBFF ;
    border-radius:50px;
    padding: 15px 0px 0px 15px;
    margin-right: 5px;
    /*position: absolute;
    top: 0px;
    left: 0px;*/
}
.fa-dog:hover
{
    background-color: #f2f2f2 ;
}
/**************************INFORMATION****************************/
.information
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;;
}
.information-text
{
    display:flex;
    flex-wrap: wrap;
    opacity: 0.5;
}
.information-logo
{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 0px 15px 0px 0px;
    border: 2px solid #f2f2f2;
   border-radius: 25px;
}
.body-part1
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}
/*******************************************HOSTINGS**********************************************/
.hostings
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f2f2;
    max-width: 880px;
    padding: 0px 10px 0px 40px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.text
{
    display: flex;
    flex-wrap: wrap;
    margin:45px 0px 30px 0px;
    font-weight: bold;
}
.bouton-afficher-plus
{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0px 50px 0px;
    font-weight: bold;
}
.hostings-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style:none;
    /*margin-bottom: 30px;*/
}
.hostings-card
{
    display: flex;
    flex-direction: column;
    list-style: none;
    border:5px solid white;
    background-color: white;
    width: 235px;
    height: 190px;
    border-radius: 15px;
    text-decoration: none;
   /* padding: 0px 0px 0px 0px;*/
    margin: 0px 30px 30px 0px ;
}
.hosting-card-img
{
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.hostings-card-description
{
    display: flex; 
    flex-direction: column;
}
.fa-star
{
    color: #0065fc;
}
.fa-star-grey
{
    color: #d9d9d9;
}
.hotel-name
{
    margin: 5px 0px 0px 15px;
    font-weight: bold;
    color: black;
    opacity: 0.8;
}
.hotel-price
{
    margin: 0px 0px 0px 15px;
    color: black;
    opacity: 0.8;
}
.hotel-rating
{
     margin: 0px 0px 0px 15px;
}
/**************************************************THE MOST POPULAR*******************************************************/
.most-popular
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 420px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 30px;
}

.fa-chart-line
{
    position:absolute;
    top:30px;
    left: 400px;
}
.most-popular-list
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style:none;
    margin: 0px 0px 0px 35px;
    padding: 0px 40px 0px 40px;
    border-radius: 15px;
    background-color: #f2f2f2;
}
.most-popular-card
{
    display: flex;
    flex-direction: row;
    list-style: none;
    border:5px solid white;
    background-color: white;
    text-decoration: none;
    width: 333px;
    height: 135px;
    border-radius: 15px;
    margin-bottom:  42px;
}
.most-popular-card-img
{
    width: 127px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}
.hostings-card-description
{
    display: flex; 
    flex-direction: column;
}
.most-popular-hotel-name
{
    margin: 15px 0px 5px 15px;
    font-weight: bold;
    color: black;
    opacity: 0.8;
}
.most-popular-hotel-price
{
    margin: 0px 0px 5px 15px;
    color: black;
    opacity: 0.8;
}
.most-popular-hotel-rating
{
     margin: 25px 0px 5px 15px;
}
/*******************ACTIVITIES CARD 1**********************/
.body-part2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*margin: 0px 0px 0px 0px;*/
}
.text-activities
{
    font-weight: bold;
    padding: 35px 0px 10px 0px ;
}
.activities-card1
{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 300px;
    height: 445px;
    border-radius: 15px;
    box-shadow: 3px 3px 0px 0px #f5f5f5;
    text-decoration: none;
    margin:  0px 49px 50px 0px ;
}
.activities-card-img1
{
    height: 390px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.activities-description
{
    display: flex; 
    flex-direction: column;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}
/*******************ACTIVITIES CARD 2**********************/

.activities-card2
{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 300px;
    height: 240px;
    border-radius: 15px;
    box-shadow: 3px 3px 0px 0px #f5f5f5;
    text-decoration: none;
    margin:  0px 40px 50px 0px ;
}
.activities-card-img2
{
    
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
/*******************ACTIVITIES CARD 3**********************/

.activities-card3
{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 300px;
    height: 162px;
    border-radius: 15px;
    box-shadow: 3px 3px 0px 0px #f5f5f5;
    text-decoration: none;
    margin:  40px 40px 50px 0px ;
}
.activities-card-img3
{
    height: 110px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
/*******************ACTIVITIES CARD 4**********************/

.activities-card4
{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 300px;
    height: 194px;
    border-radius: 15px;
    box-shadow: 3px 3px 0px 0px #f5f5f5;
    text-decoration: none;
    margin:  0px 0px 50px 0px ;
}
.activities-card-img4
{
    height: 140px;
    object-fit:cover;
    border-radius: 15px 15px 0px 0px;
}
/*******************ACTIVITIES CARD 5**********************/
.activities-card5
{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 300px;
    height: 210px;
    border-radius: 15px;
    box-shadow: 3px 3px 0px 0px #f5f5f5;
    text-decoration: none;
    margin:  40px 0px 50px 0px ;
}
.activities-card-img5
{
    height: 153px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
/*******************************FOOTER************************************/
footer
{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 40px 0px 40px 0px;
    max-width: 1450px;
    margin:auto;
}
footer p
{
    margin-left: 45px;
    font-weight: bold;
    color: black;
}
footer div
{
   margin-right: 225px;
}
footer li
{
    margin-bottom: 10px;
    margin-left: 45px;
    text-decoration: none;
    list-style: none;
}
/*MEDIA QUERIES*****************************************************/
@media all and (max-width: 475px)
{
    .page-block
    {
        max-width: 320px;
        border:1px solid;
    }
    /*****HEADER*****/
     /*****HEADER*****/
    header
    {
        display: flex;
        flex-direction: column;
        margin:0px 10px 0px 10px;
    }
    /*****HEADER PART 1*****/
    .header-part1
    {
        position: relative;
    }
    header nav
    {
         position:absolute;
            top: 60px;
            left: 0;
        margin-left: 20px;
    }
    .header-part1 div nav a
    {
        color: black;
        margin: 0px 0px 20px 0px;
    }
    #activity-link
    {
        margin-left: 40px;
    }
    
   .header-part1 div nav a:hover
    {
        color: black;
        margin-right: 70px;
        padding-top: 20px;
        border-top: 3px solid rgba(0,0,0,0);
    }
    .divider-line-blue
    {
        width:220px;
        height: 3px;
        background-color: #0065FC;
        position: absolute;
        top: 115px;
        left: -35px;
    }
    .divider-line-grey
    {
        width:220px;
        height: 5px;
        background-color: #f2f2f2;
        position: absolute;
        top: 115px;
        left: 186px;
    }
    /**HEADER PART2**/
    .body-title
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    h1
    {
        font-size: 1.1em;
    }
    /**SEARCH ZONE**/
.search-zone
{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10px 30px 10px;
    /*max-width: 320px;*/
    position: relative;
}
.position-logo
{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 50px;
    background-color: #f2f2f2;
    width: 55px;
    border-radius: 15px 0px 0px 15px;
    /*padding: 0px 15px;*/
}
.search-bar
{
    max-width: 205px;
}
.search-button
{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    background-color:#0065FC;
    width: 10px;
    height: 10px;
    margin: 10px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
    position: absolute;
        left: 250px;
     z-index: -1;
}
    .fa-search
    {
        padding: 17px 17px 17px 17px;
        text-align: center;
        background-color: #0065FC; 
        color: white;
        z-index: 1;
        color: white;
        border-radius: 15px;
        position: absolute;
        left: 250px;

    }
    
    ************************
 