*
{
    margin: 0;
    padding: 0;
}
.page-block
{
    flex-wrap: wrap;
    margin: auto;  
    max-width: 1340px;
    border: 1px solid black;
}
/**HEADER**/
/*header
{
    width: 100%;
}*/
/*.header-part1
{
    display: flex;
    background-color: red;
    justify-content: space-between;
}*/

/*****HEADER PART 1*****/
.header-part1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-part1 img
{
    padding-top:20px;
}
.header-part1 div
{
    display: flex;
    flex-wrap: wrap;
}
.header-part1 div nav 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-part1 div nav a
{
    color: black;
    margin-right: 70px;
    padding-top: 20px;
    border-top: 3px solid rgba(0,0,0,0);
}
.header-part1 div nav a:hover
{
    padding-top:20px;
    border-top: 3px solid #0065FC; 
    color: #0065FC; 
}

.header-part1 div a
{
    color: #0065FC;
    text-decoration: none;
    padding-top:20px;
}
/**HEADER PART2**/
.body-title
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}
h1
{
    font-size: 1.3em;
}
.body-title p
{
  font-size: 0.9em;
  opacity: 0.5;
}
/**SEARCH ZONE**/
.search-zone
{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.position-logo
{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 50px;
    background-color: #f2f2f2;
    width: 55px;
    border-radius: 15px 0px 0px 15px;
}
.search-bar
{
    width: 271px;
    height: 50px;
    border:1px solid #f2f2f2;
}
.search-button
{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:#0065FC;
    width: 137px;
    height: 50px;
    color: white;
    text-decoration: none; 
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;

